##Browser Agent Config
OPENAI_API_KEY = ""

##Browserbase Config
BROWSERBASE_API_KEY = ""
BROWSERBASE_PROJECT_ID = ""

##Anchorbrowser Config
ANCHOR_API_KEY=""

##Steel Config
STEEL_API_KEY=""

##Hyperbrowser
HYPERBROWSER_API_KEY=""
